
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
    font-family: monospace;
}


main {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 {
    color: black;
    text-align: center;
}

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 10px;
}


.boton {
    display: block;
    text-align: center;
    background-color: black;
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-family: monospace;
    font-size: 25px;
}

    .boton:hover {
        background-color: grey;
        color: white;
    }


.contenedor-tabla {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}



footer {
    text-align: center;
    padding: 15px;
    background-color: white;
    color: black;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

th, td {
    border: 2px solid black;
    padding: 8px 12px;
    text-align: center;
}

th {
    background-color: white;
    font-weight: bold;
}
